/* Type */

body, input, select, textarea, button {
    color: _palette(fg);
    font-family: _font(family);
    font-size: 1em;
    font-weight: _font(weight);
    letter-spacing:1px;
    line-height:1.5;
}

h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}

h2{
    font-size: 1.65em;
}

h3{
    font-size:1.8em;
}

h5{
    font-size:1.2em;
}

p{
    //font-size:18px;
    letter-spacing:0.25px;
    line-height:1.7;
}